@inherits LayoutComponentBase

<header class="d-flex align-items-center justify-content-center">
    <h2 class="app-name pa-4">&lt;eShopLite /&gt;</h2>
    <div class="flex-spacer"></div>
    <h2 class="text-align-center">Product Catalog</h2>
    <div class="flex-spacer"></div>
    <Cart ItemsInCart="0" />
</header>

<div class="container">
    @Body
</div>
<AppFooter />

