@using Frontend.Components
@using Microsoft.AspNetCore.Components.Sections
@implements IRazorComponentApplication<App>
@inherits LayoutComponentBase
<html>
<head>
    <title>eShopLite</title>
    <link rel="stylesheet" href="site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
          integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
</head>
<body>
    <header class="d-flex align-items-center justify-content-center">
        <h2 class="app-name pa-4">&lt;eShopLite /&gt;</h2>
        <div class="flex-spacer"></div>
        <h2 class="text-align-center">Product Catalog</h2>
        <div class="flex-spacer"></div>
        <Cart ItemsInCart="0" />
    </header>

    <div class="container">
        @Body
    </div>
    <AppFooter />

    <script src="_framework/blazor.web.js" suppress-error="BL9992"></script>
</body>
</html>
